.creatorInfoContainer{
  background-color: #CAC4CE;
  color: #242038;
}


.creatorTab{
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6
}


.createCampaignButton:hover{
  background-color: #9067C6;
  border: 1px solid black;
}

@media (max-width: 500px) {
  .companyHeader {
    display: flex;
    height: 100px
  }
  .tab-text{
    font-size: 0.7rem;
  }
}

@media (min-width: 500px) {
  .companyHeader {
    display: inline-block;
    width: 102%;
    height: 170px;
    text-align:center
  }

}