.creatorInfoContainer, .switchUserContainer{
  background-image: linear-gradient(to top right, #CAC4CE, rgb(234, 224, 240));
  color: #11071be1;
  font-family: 'Patua One', cursive;
}

.creatorTab{
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6
}


.creatorSubmissionForm{
  background-image: linear-gradient(to top right, #CAC4CE, rgb(234, 224, 240));
  color: #242038;
}

.creatorSubmitButton{
  background-color: #9067C6;
  border: none;
}

.createCampaignButton:hover{
  background-color: #9067C6;
  border: 1px solid black;
}

@media (max-width: 500px) {
  .companyHeaderContainer{
    display:block;
    width: 100%;
  }
  .companyHeader {
    display: flex;
    height: 100px
  }
  .tab-text{
    font-size: 0.7rem;
  }
}

@media (min-width: 500px) {
  .companyHeader {
    display: block;
    width: 100%;
    height: 170px;
    text-align:center
  }
}

::-webkit-scrollbar{
        height: .75rem;
        width: 2rem;

    }
    ::-webkit-scrollbar-thumb:horizontal{
        background: rgba(139, 8, 179, 0.63);
        border-radius: 10px;
    }

::-webkit-scrollbar:vertical{
        display: none;
}

.glassCard{
  -moz-box-shadow:    inset 0 0 10px rgba(139, 8, 179, 0.63);
   -webkit-box-shadow: inset 0 0 10px rgba(139, 8, 179, 0.63);
   box-shadow: inset 0 0 15px rgb(191, 62, 230), 0 8px 6px 2px  rgba(79, 2, 102, 0.63);
   font-family: 'Patua One', cursive;
}

.playButton{
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  cursor: pointer;
  border-left: 40px solid rgba(139, 8, 179, 0.63);
  display: inline-block;
  margin-top: 15%;
}

.campaignCard, .profilePicSmall {
  cursor: pointer;
}

.switchUserDropDown{
  color: #242038;
}

@media(max-width: 500px){
.submission-details-author-name{
  font-size: 1rem;
  }
.submission-details-title {
  font-size: 1.3rem;
  }
}

@media(min-width: 500px){
.submission-details-author-name{
  font-size: 1.7rem;
  }
  .submission-details-title {
  font-size: 2.2rem;
  }
}
